.gpt3__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;
}

.gpt3__navbar-links {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.gpt3__navbar-links_logo {
    margin-right: 2rem;
}

.gpt3__navbar-links_logo img {
    width: 62.56px;
    height: 16.02px;
}

.gpt3__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.gpt3__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.gpt3__navbar-links_container p, 
.gpt3__navbar-sign p,
.gpt3__navbar-menu_container p {
    color: #ffffff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;  
    line-height: 24.59px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer; 
}

.gpt3__navbar-sign button,
.gpt3__navbar-menu_container button {
    padding: 0.5rem 1rem;
    color: #ffffff;
    background: #FF4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;  
    line-height: 24.59px;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer ;
}